.App {
  display: flex;
  background-color: #F2F2F2;
  min-height: 100vh;
  font-family: 'Wotfard', sans-serif;
}

.Drawer {
  width: 160px; /* Larghezza fissa per la sidebar */
  flex-shrink: 0;
  z-index: 1;
}

.App-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden; /* Evita lo scroll */
  height: 100vh;
}

.App-title {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.App-caption {
  font-size: 0.9rem;
  margin-bottom: 24px;
  color: #666;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.Header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.DataGrid-container {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiAppBar-root {
  background-color: #E0E0E0;
}

.MuiTypography-h4 {
  font-weight: bold;
}

.MuiButton-outlined {
  border-color: #666;
  color: #666;
  background-color: #0B416E; 
}

/* Aggiungi questo stile per i blocchetti dei filtri */
.filter-block {
  display: flex;
  align-items: center;
  padding: 4px 12px; /* Padding interno */
  border: 1px solid #ccc; /* Bordo */
  border-radius: 8px; /* Angoli arrotondati */
  margin-left: 8px; /* Margine a sinistra */
  background-color: #fff; /* Sfondo bianco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
  height: auto;
}

.filter-block .MuiTypography-body2 {
  margin-right: 8px; /* Margine a destra per il testo */
}

.filter-block .MuiIconButton-root {
  padding: 4px; /* Padding per le icone */
}

/* Stile per il popover della lista dei filtri */
.popover-list {
  padding-top: 24px; /* Rimuovi il padding */
  margin: 0; /* Rimuovi il margine */
  background-color: white; /* Sfondo bianco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*Ombra leggera */
  border-radius: 4px; /* Angoli arrotondati */
}

/* Stile per gli elementi della lista nel popover */
.popover-list-item {
  display: flex; /* Flexbox per allineare gli elementi */
  align-items: center; /* Allinea verticalmente al centro */
  padding: 8px 12px; /* Padding interno */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.popover-list-item:hover {
  background-color: #f0f0f0; /* Colore di sfondo al passaggio del mouse */
}

/* Stile per il checkbox nel popover */
.popover-checkbox {
  margin-right: 8px; /* Margine a destra per il checkbox */
}

.sidebar {
  background-color: #0B416E; /* Colore di sfondo */
  width: 86px; /* Larghezza fissa per la sidebar */
  display: center;
  flex-direction: column;
  padding: 32px 0; /* Padding verticale */
}

.sidebar-item {
  display: flex;
  flex-direction: column; /* Disposizione verticale */
  align-items: center; /* Allinea al centro */
  color: white; /* Colore del testo */
  text-decoration: none; /* Rimuovi sottolineatura */
  position: center; /* Aggiunto per posizionare il cerchio */
  width: 100%; /* Larghezza fissa per l'icona */
  height: 82px; /* Altezza fissa per l'icona */
}

.sidebar-icon {
  font-size: 76px; /* Aumenta la dimensione dell'icona */
  width: 76px; /* Aggiorna la larghezza dell'icona */
  height: 76px; /* Aggiorna l'altezza dell'icona */
  position: center; /* Posizionamento relativo per il cerchio */
  color: white;
  margin-bottom: 16px; /* Aggiungi margine inferiore per la distanza dal testo */
}

.sidebar-icon.active::before {
  content: ''; /* Crea un cerchio */
  position: absolute; /* Posizionamento assoluto */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra orizzontalmente */
  transform: translate(-50%, -50%); /* Centra il cerchio */
  width: 72px; /* Dimensione del cerchio (più grande dell'icona) */
  height: 72px; /* Dimensione del cerchio (più grande dell'icona) */
  background-color: rgb(255, 255, 255); /* Sfondo del cerchio attivo */
  border-radius: 50%; /* Angoli arrotondati per il cerchio */
  z-index: -1; /* Mette il cerchio dietro l'icona */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Bordo del cerchio */
}